@using System.Globalization
@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.OBK_AssessmentDeclaration

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table id="tableProducts" style="width: 100%; text-align: center" class="display">
                    </table>
                </div>  
            </div>  
        </div>   
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var table = $('#tableProducts').DataTable({
            data: null,
            columns: [
                { title: "" },
                { title: "Наименование" },
                { title: "Производитель" },
                { title: "Страна-производитель" },
                { title: "ТН ВЭД" },
                { title: "КП ВЭД" }
            ]
        });

        $('#tableProducts tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('#deleteBtn').click(function () {
            table.row('.selected').remove().draw(false);
        });

        // поиск в реестре
        $("#searchBtn").on("click",
            function() {
                $.ajax({
                    type: "POST",
                    url: "/SafetyAssessment/GetSearchReestr",
                    data: {
                        'regNumber': $("#RegNumber").val(),
                        'tradeName': $("#TradeName").val(),
                        'manufacturer': $("#Manufacturer").val(),
                        'mnn': $("#MNN").val()
                    },
                    dataType: 'json',
                    cache: false,
                    success: function(data) {
                        if (data.Success) {
                            $("#NameRu").val(data.name);
                            $("#NameKz").val(data.name);
                            $("#ProducerNameRu").val(data.producer_name);
                            $("#ProducerNameKz").val(data.producer_name);
                            $("#CountryNameRu").val(data.country_name);
                            $("#CountryNameKz").val(data.country_name);
                            $("#TnvedCode").val(data.tnved_code);
                            $("#KpvedCode").val(data.kpved_code);
                            $("#Price").val(data.cost);
                            $("#Currency").val(data.currency_name);
                        } else {
                            $("#NameRu").val("");
                            $("#NameKz").val("");
                            $("#ProducerNameRu").val("");
                            $("#ProducerNameKz").val("");
                            $("#CountryNameRu").val("");
                            $("#CountryNameKz").val("");
                            $("#TnvedCode").val("");
                            $("#KpvedCode").val("");
                            $("#Price").val("");
                            $("#Currency").val("");
                            alert("Данные не найдены");
                        }
                    },
                    error: function(data) {
                        alert("1Error" + data);
                    }
                });
            });

        //добавление продуктов
        $("#saveProductBtn").on("click",
            function() {
                $.ajax({
                    type: "POST",
                    url: "/SafetyAssessment/SaveProducts",
                    data: {
                        'modelId': $("#modelId").val(),
                        'nameRu': $("#NameRu").val(),
                        'nameKz': $("#NameKz").val(),
                        'producerNameRu': $("#ProducerNameRu").val(),
                        'producerNameKz': $("#ProducerNameKz").val(),
                        'countryNameRu': $("#CountryNameRu").val(),
                        'countryNameKz': $("#CountryNameKz").val(),
                        'tnvedCode': $("#TnvedCode").val(),
                        'kpvedCode': $("#KpvedCode").val(),
                        'price': $("#Price").val(),
                        'currency': $("#Currency").val()
                    },
                    dataType: 'json',
                    cache: false,
                    success: function (result) {
                        if (result) {
                            addToTable();
                            $("#NameRu").val("");
                            $("#NameKz").val("");
                            $("#ProducerNameRu").val("");
                            $("#ProducerNameKz").val("");
                            $("#CountryNameRu").val("");
                            $("#CountryNameKz").val("");
                            $("#TnvedCode").val("");
                            $("#KpvedCode").val("");
                            $("#Price").val("");
                            $("#Currency").val("");
                        }
                    },
                    error: function(data) {
                        alert("1Error" + data);
                    }
                });
                return;
            });

        function addToTable() {
            $.ajax({
                type: "GET",
                url: "/SafetyAssessment/AddToTable",
                data: {
                    'modelId': $("#modelId").val()
                },
                dataType: 'json',
                cache: false,
                success: function(result) {
                    $('#tableProducts').DataTable({
                        destroy: true,
                        searching: false,
                        data: result,
                        columns: [
                            { "data": "Id" },
                            { "data": "NameRu" },
                            { "data": "ProducerNameRu" },
                            { "data": "CountryNameRu" },
                            { "data": "TnvedCode" },
                            { "data": "KpvedCode" }
                        ]
                    });
                }
            });
        }
    });

</script> 
